#mainContainer{
    padding: 12px;
}

#formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formFields{
    width: 40%;
    margin: 4px 0;
}

.formFieldContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fieldLabel{
    font-weight: 700;
}

.fieldEntry{
    
}

form input, form select {
    padding: 10px 12px;
    border: 1px solid #cccccc;
}

.specialEntry{
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submitButton{
    background-color: #335075;
    padding: 6px 12px;
    color: #ffffff;
    cursor: pointer;
    height: 37px;
    border-radius: 4px;
}

#summaryTable{
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

table td, table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f5f5f5;
}